.bg-body-tertiary {
  width: 90% !important;
  margin: auto !important;
  font-family: "Poppins", "sans-serif" !important;
  background-color: white !important;
}
.cont {
  width: 95% !important;
  height: 7% !important;
  /* border: 1px solid hsl(0, 0%, 0%); */
}
.me-auto {
  color: black !important;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s linear;
}
.btn-login {
  background-color: #242526f2 !important;
  color: #fff !important;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s linear;
}

.btn-login:hover {
  background-color: #4b4e51 !important;
}
@media screen and (max-width: 991px) {
  .btn-login {
    text-align: center;
  }
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
