.bg-body-tertiary {
  width: 90% !important;
  margin: auto !important;
  font-family: "Poppins", "sans-serif" !important;
  background-color: white !important;
}
.cont {
  width: 95% !important;
  height: 7% !important;
  /* border: 1px solid hsl(0, 0%, 0%); */
}
.me-auto {
  color: black !important;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s linear;
}
.btn-login {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.btn-login:hover {
  background-color: #0056b3;
}