.container1 {
  /* margin: 40px auto; */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  gap: 2px;
}

.wrapper1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 2px;
}

.list-container1 {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
